.skinHeader-withBackground {
  background-color: #00000054;
  backdrop-filter: blur(15px);
}

.emby-tabs-slider {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
.cardOverlayButton-hover::before{
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    scale: 0;
    border-radius: 50px;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[dir="ltr"] .cardOverlayButton-br {
  right: 0;
  gap: 5px;
  bottom: 5px;
}
.cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
  box-shadow: 0 .0725em .29em 0 rgba(0, 0, 0, 0.37);
  border-radius: 15px !important;
}
.cardOverlayButton-br{
  padding: 5px !important;
}
.cardOverlayContainer:hover .cardOverlayButton-hover::before{ 
 scale: 1;
}
.card-hoverable:hover .cardOverlayButton-hover {
  opacity: 1;
}
@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
  }
}
.cardOverlayContainer {
  background: rgba(0, 0, 0, 0);
}
.emby-button-foreground{
    font-family: SF Pro !important;
}
