:root{
  /*active card indicators*/
  --card-indicate-bg:rgba(255, 169, 184, 0.534);
  --card-indicate-liquid-glass:rgba(253, 185, 255, 0.39) ;
  --card-indicate-shadow:rgba(255, 154, 238, 0.329);
  --card-indicate-icon-fill:#ffb0d9;
  /*Backgound*/
  --background-glow-color:#240000;
}
.skinHeader-withBackground {
  background-color: #00000054;
  backdrop-filter: blur(50px);
}
.emby-tabs-slider {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes a{
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
.dialog{
background-color: #101010ab;
backdrop-filter: blur(15px);
  }

.cardOverlayContainer > .cardOverlayFab-primary{
            scale: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
            transition: 0.2s;
            background-color: rgba(0, 0, 0, 0.29) !important;
}
@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.04);
    color: #fff;
  }
}.drawer-open, .mainDrawer {
  background-color: #10101057;
  backdrop-filter: blur(50px);
}
.navMenuOption:hover{
  background: #00000057;
  transition:0.1s;
}
.backgroundContainer{
background:linear-gradient(0deg,#111 50%,var(--background-glow-color));
}
.touch-menu-la.transition{
transition: transform .24s cubic-bezier(0.075, 0.82, 0.165, 1) ease-out,left .26s cubic-bezier(0.075, 0.82, 0.165, 1) ease-out,-webkit-transform .24s cubic-bezier(0.075, 0.82, 0.165, 1) ease-out;
}
.emby-tab-button{
  font-weight: 453 !important;
}
.emby-button-foreground{
  position: relative;
  color: white !important;
}
.cardOverlayContainer > .cardOverlayFab-primary{
      box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
[is="emby-button"]:hover .emby-button-foreground::before{
width: 100%;
}
.mdl-spinner__layer{
  border-color: #ffff !important;
}
.selectionCommandsPanel {
  background: #00000030;
  color: #fff;
  font-size: 12px;
  backdrop-filter: blur(50px);
}
.itemSelectionPanel {
  border: 1px solid #353535;
  border-radius: 15px;

}
.checkboxOutline {
  border-color: #ffffff47;
  border-radius: 50px !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  background-color: #ffffff36;
  color: black;
  backdrop-filter: blur(15px);
}
.emby-checkbox:checked + span + .checkboxOutline {
  border-color: #6a6a6a38 !important;
}
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
  border-color: #ffffff3b;
}
.checkboxContainer{
  margin: 5px;
}
.checkboxIcon {
  color: #fff;
  animation: check 0.2s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 1.2em;
  will-change: transform;
}
@keyframes check {
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}
.emby-checkbox:checked + span + .checkboxOutline {
  border-color: #6a6a6a;
}
.cardBox:not(.visualCardBox) .cardPadder {
  background-color: #242424;
  border-radius: 15px !important;
}
.cardContent{
  border-radius: 15px;
}
.emby-button-foreground::before{
  position: absolute;
  content: '';
  left: 50%;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 0%;
  transform: translate(-50%,2px);
  height: 2px;
  border-radius: 50px;
  bottom: 0;
  background-color: aliceblue;
}
.tmla-mask{
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}
.cardOverlayContainer > .cardOverlayFab-primary:hover{
            background-color: rgba(0, 0, 0, 0.459) !important;
}
.cardOverlayContainer > .cardOverlayFab-primary:active{
            background-color: rgba(0, 0, 0, 0.459) !important;
}
.cardOverlayContainer:hover  .cardOverlayFab-primary{ 
          scale: 1;
}
[dir="ltr"] .cardOverlayButton-br {
  right: 0;
  gap: 5px;
  bottom: 5px;
}
.cardOverlayContainer > .cardOverlayFab-primary:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: .2s;
}
.cardOverlayContainer > .cardOverlayFab-primary {
  will-change: transform;
}
.cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
  box-shadow: 0 .0725em .29em 0 rgba(0, 0, 0, 0.37);
}
.cardOverlayButton-br{
  padding: 5px !important;
}

.card-hoverable:hover .cardOverlayButton-hover {
  opacity: 1;
}
@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
  }
}
.cardOverlayContainer {
  background: rgba(0, 0, 0, 0);
}
html,body{
    transition: 0.1s;
    scroll-behavior: smooth;
}
.libraryPage {
  padding-top: 7em !important;
}
.detailRibbon {
  background: linear-gradient(0deg,#101010,transparent);
}
.skinHeader.semiTransparent {
  -webkit-backdrop-filter:blur(15px)  !important;
  backdrop-filter: blur(15px) !important;
  background-color: rgba(0,0,0,.4);
}
.lazy-image-fadein-fast{
  margin: 40px 0px;
}
.button-flat:hover, .button-link {
  color: #fff;
}
.inputLabelFocused, .selectLabelFocused, .textareaLabelFocused {
  color: #fff;
}
.emby-select-withcolor:focus {
  border-color: #3c3c3c !important;
}
.trackSelections .selectContainer .detailTrackSelect {
  font-size: inherit;
  overflow: hidden;
  padding: 2px 5px;
  border-radius: 50px;
}
select{
  background: #292929;
  border: none;
  transition: 0.2s;
  outline: none;
}
select:hover{background-color: #353535;}
select:focus{background-color: #3a3a3a;}
.paper-icon-button-light::before{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  content: '';
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) scale(0.7);
  background-color:#ffffff15 !important;
}
.paper-icon-button-light:active:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.2);
	color: #edfaff;
}
.paper-icon-button-light{
  position: relative;
}
.itemProgressBarForeground{
  background-color: #fff;
}
.emby-button.block {
  display: block;
  margin: .25em 0;
  width: 100%;
  border-radius: 50px;
  padding: 5px 10px;
  width: fit-content !important;
}

.paper-icon-button-light:hover::before{
  transform: translateX(-50%) scale(1);
  opacity: 1;
  
}
.cardOverlayContainer {
  background: #0000001c;
  border-radius: 15px;
}
.formDialogFooterItem{
  -webkit-flex-basis:fit-content;
}
.emby-button.block {
	display: block;
	margin: .25em 0;
	border-radius: 50px;
	padding: 5px 15px;
	width: fit-content !important;
	font-family: SF PRo;
	font-kerning: normal;
	font-weight: 400;
}
.button-submit {
  background: #fff;
  color: #000;
  font-weight: bolder !important;
}
.emby-input, .emby-textarea {
  background: #292929;
  border: .16em solid #292929;
  border-radius: 10px;
  color: inherit;
  color-scheme: dark;
  padding: 7px 10px;
}
.emby-input:focus, .emby-textarea:focus {
  border-color: #4d4d4d;
}
.emby-button.block:hover{
filter: brightness(1.2);
}
.emby-button.block:active{
filter: brightness(0.9);
}
.button-submit:focus {
  background: #c6c6c6;
  color: #000;
}
.css-yknuxp{
  position: relative;
  overflow: hidden;
}
.css-4mb1j7{
  filter: blur(20px);
}
.navMenuOption-selected{
  background: #202020 !important;
}
.countIndicator,.paper-icon-button-light::before{
  box-shadow:3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.countIndicator, .fullSyncIndicator, .mediaSourceIndicator, .playedIndicator{
  background: #ffffff21;
  backdrop-filter: blur(10px);
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.card{
  contain: none !important;
}
[dir="ltr"] .cardOverlayButton-br{
  font-size: 11px;
}
.navMenuOption{
  transition: none;
  overflow: hidden;
  position: relative;
}
.navMenuOption:active::before{
  width: 100%;
}
.navMenuOption::before{
  content: '';
  transition: 0.3s  cubic-bezier(0.77, 0, 0.175, 1);;
  position: absolute;
  left: 0;
  filter: blur(20px);
  height: 100%;
  bottom: 0;
  width: 0%;
  background-color: #ffffff3d;
}
.headerTop{
  padding: 0 !important;
}
.skinHeader{
  padding: 5px 0px !important;
}
.mdl-slider::-moz-range-thumb{
  background-color: #fff;
}

.sliderBubbleText{
  padding: 0px !important;
}
.sliderBubble {
	-webkit-align-items: center;
	align-items: center;
	background: #ffffff0d;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
  border-radius: 50px;
	justify-content: center;
	left: 0;
  padding: 1px 10px;
	position: absolute;
	top: 0;
	-webkit-transform: translate3d(-50%,-120%,0);
	transform: translate3d(-50%,-120%,0);
	z-index: 1;
  box-shadow:2px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
	backdrop-filter: blur(15px);
}
.mdl-slider-background-flex{
  background-color: #ffffff3b;
}
.mdl-slider-background-lower{
  background-color: #fff;
}
.dialog{
  border-radius: 15px !important;
}
.actionSheetContent{
  border-radius: 15px !important;
}
.searchSuggestionsList.padded-left.padded-right {
	width: fit-content;
	background: #2b2b2b;
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	padding: 10px 0px;
	border-radius: 15px;
	box-shadow: 0px 5px 10px #000;
	overflow-y: scroll;
	height: 250px;
	scrollbar-width: none;
}
.searchSuggestionsList.padded-left.padded-right div:hover {
  background: #ffffff17;
}
.searchSuggestionsList.padded-left.padded-right div{
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.searchSuggestionsList.padded-left.padded-right div a{
text-decoration: none;
}
.focuscontainer.dialog.actionsheet-not-fullscreen.actionSheet.syncPlayGroupMenu.centeredDialog.opened{
  padding: 10px 20px;
}
[dir="ltr"] .navMenuOption {
  padding: .9em 0 .9em 2.4em !important;
  border-radius: 50px !important;
  margin: 3px 10px !important;
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
[dir="ltr"] .listItem {
  padding: 0px 20px;
  transition: 0.3s;
  border-radius: 50px !important;
  will-change: tranform;
  text-align: left;
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
[dir="ltr"] .listItem:hover{
  transform: scale(1.02);
}
.listItem-border {
	border-radius: 50px;
  border: none !important;
	padding: 0px 20px;
	margin: 2px 0px !important;
}
.sectionTitle.headerUsername {
  font-size: 40px;
  font-weight: Bolder !important;
}
.listItem:hover {
  background: #ffffff0d;
}
html{
  font-family: SF Pro,Noto Sans,Noto Sans HK,Noto Sans JP,Noto Sans KR,Noto Sans SC,Noto Sans TC,sans-serif;
}
.emby-scrollbuttons.padded-right {
	background: #ffffff0a;
	padding: 3px 0px !important;
	border-radius: 50px;
	margin-right: 10px;
	box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.actionSheetContent .listItem{
  transition: none !important;
  box-shadow: none !important;
  border-radius: none !important;
}
.actionSheetContent .listItem:hover{
  transform: none !important;
}
[dir="ltr"] .emby-select {
  padding: 7px 10px !important;
  border-radius: 10px !important; 
}

.playstatebutton-icon-played,.ratingbutton-icon-withrating{
  color: var(--card-indicate-icon-fill);
}
[dir="ltr"] .cardOverlayButton-br button span{
transition: 0.2s;
}
[dir="ltr"] .cardOverlayButton-br button:active span{
  scale: 0.8;
}

.mediaInfoItem.mediaInfoText.mediaInfoOfficialRating {
  box-shadow: inset 1px 2px 2px -2px,inset -2px -2px 2px -3px;
  border-radius: 7px;
}
.itemProgressBar {
  background: #333;
  background: rgba(51, 51, 51, 0.11);
  height: .28em;
  position: relative;
  backdrop-filter: blur(15px);
}
.itemProgressBarForeground {
  background: #fff;
}
[dir="ltr"] .itemProgressBarForeground {
  left: 0;
  border-radius: 50px;
}
.mdl-slider::-moz-range-thumb {
  background-color: #fff;
  backdrop-filter: blur(50px);
  box-shadow: 3px 2px 2px -3px rgba(102, 102, 102, 0.39) inset, -2px -2px 2px -2px rgba(108, 108, 108, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.formDialogFooterItem{
  border-radius: 50px;
  box-shadow: 3px 3px 2px -3px rgba(102, 102, 102, 0.39) inset, -2px -3px 2px -2px rgba(108, 108, 108, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.formDialogFooterItem:hover{
  filter: brightness(1.1);
}
[tromoSM='css-ap-btn']{
  display: block;
  border-radius: 50px;
  padding: 5px 15px;
  width: fit-content !important;
  font-family: SF PRo;
  font-kerning: normal;
  right: 0;
  bottom: 0;
  font-weight: 400;
  border: none;
  outline: none;
  background: #ffffff17;
  color: aliceblue;
  cursor: pointer;
  backdrop-filter: blur(10px);
  margin: 10px;
	box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  position: fixed;
  z-index: +990;
}  

*{
  color-scheme: dark !important; 
}
.itemDetailsGroup {
	background: #ffffff0a;
	word-break: keep-all;
	padding: 15px 30px;
	border-radius: 20px;
	box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
#embyselect3 {
  border: none;
  background: #222;
}
.listItem.listItem-largeImage.listItem-withContentWrapper {
  margin-top: 10px;
}
.listItem.listItem-largeImage.listItem-withContentWrapper:hover {
  scale: 1.001;
}
.listItem.listItem-largeImage.listItem-withContentWrapper {
  transition: 0.3s cubic-bezier(.23,1,.32,1);
}
.listItemImageButton.itemAction.paper-icon-button-light {
  backdrop-filter: blur(2px);
  background: #ffffff17;
  scale: 0.7;
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.listItemImageButton.itemAction.paper-icon-button-light:hover{
  backdrop-filter: blur(5px);
}
.listItemButton.paper-icon-button-light.emby-button::before {
  opacity: 0;
}
.listItemButton.itemAction.paper-icon-button-light::before {
  opacity: 0;
}
.listItemButton.itemAction.paper-icon-button-light:hover,.listItemButton.paper-icon-button-light.emby-button:hover{
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.detailsGroupItem.studiosGroup {
  padding: 0;
  margin: 0 !important;
}
.listPaging {
  background: #f0f8ff0f;
  border-radius: 50px;
  padding: 3px 10px;
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.detailsGroupItem.writersGroup {
  padding: 0;
  margin: 0 !important;
}
.sectionTitle {
  font-size: 26px;
  padding: 0px;
  margin: 10px 0px;
  font-weight: 440;
}
#btnAddImage {
  background: #f0f8ff29;
  color: aliceblue;
  border-radius: 50px;
  padding: 7px 15px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
#btnAddImage:hover {
  background: #f0f8ff40;
  box-shadow: 1px 2px 2px -1.7px rgba(255, 255, 255, 0.65) inset, -1px -2px 2px -2px rgb(255, 255, 255) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.sliderBubble::before {
	width: 100%;
	position: absolute;
	height: 100%;
	border-radius: 50px;
	background: #f000;
	content: '';
	z-index: -1;
	backdrop-filter: blur(15px);
}
.iconOsdProgressInner {
  background: #ffffff85;
  border-radius: .25em;
  height: 100%;
}
.iconOsd-hidden {
  opacity: 0;
  scale: 0.95;
}
.iconOsd{
  background-color: rgba(255, 248, 248, 0.04);
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  border-radius: 15px;
  scale: 1;
  transition: 0.2s;
}
.videoOsdBottom {
  width: 98%;
  backdrop-filter: blur(15px);
  left: 50%;
  transform:translateX(-50%) translateY(0px);
  border-radius: 15px;
  background: #ffffff0a;
  height: fit-content;
  padding: 6px;
  margin: 10px 0px;
  transition: 0.3s;
  animation: slide-up-centered 0.5s 1 ;
}
@keyframes  slide-up-centered{
  from{
  transform: translateX(-50%) translateY(50px);
  }
  to{
  transform: translateX(-50%) translateY(0px);
  }
}
.videoOsdBottom-hidden {
  opacity: 0;
  transform: translateX(-50%) translateY(50px) !important;
}
/*Mobile styling ahh begin*/
.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.ratingbutton-withrating,.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.playstatebutton-played{
  background: #ffa5f521;
  box-shadow: 3px 2px 2px -3px var(--card-indicate-liquid-glass) inset, -2px -2px 2px -2px var(--card-indicate-liquid-glass)  inset, 0px 0px 10px var(--card-indicate-shadow);
  backdrop-filter: blur(10px);
}
@media (max-width:513px){
.emby-tabs-slider {
  position: relative;
  font-size: 13px !important;
}
.emby-tab-button{
  padding: 5px 7px;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.headroom.noHomeButtonHeader.headroom--not-top.headroom--not-bottom.headroom--pinned{
  animation: yoyo 0.5s 1 ;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.headroom.noHomeButtonHeader.headroom--not-bottom.headroom--not-top.headroom--unpinned{
  animation: yoyoyo 0.5s 1 forwards cubic-bezier(.46,.03,.52,.96);
}
@keyframes yoyo {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

@keyframes yoyoyo {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-100px);
  }}
}
.cardOverlayButton-br.flex button span{
  text-shadow: 0px 0px 10px black;
}
.cardOverlayButton.cardOverlayButton-br.itemAction.paper-icon-button-light{
	backdrop-filter: blur(10px);
	background: #e6e6e647;
	margin: 5px;
}
/*mobile style end*/
/*ani*/
.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.ratingbutton-withrating::before,.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.playstatebutton-played::before{
  animation: yogurt 0.5s 1 forwards;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--card-indicate-bg);
}
@keyframes yogurt{
  from{
    scale: 0.4;
  }
  to{
    scale: 1;
  }
}
.emby-scrollbuttons.padded-right{
  animation: liquid-glass-ani-scale-invert 1s 1;
}
@keyframes liquid-glass-ani-scale-invert{
  from{
    scale: 1.1;
  }
  25%{
    scale: 0.9;
  }
  50%{
    scale: 1.05;
  }
  to{
    scale: 1;
  }
}
@keyframes opacity-scale{
  from{
    opacity: 0;
    filter: blur(5px);
    scale: 0.8;
  }
  to{
    filter: none;
    opacity: 1;
    scale: 1;
  }
}
@keyframes x-scale{
  from{
    transform: scaleX(1);
  }
  50%{
    transform: scaleX(1.05);
  }
  to{
    transform: scaleX(1);
  }
}
.lnkMediaFolder.navMenuOption.emby-button:hover{
  animation:x-scale 0.4s 1 forwards cubic-bezier(.23,1,.32,1);
}
.card.overflowBackdropCard.card-hoverable.card-withuserdata{
  animation: opacity-scale 0.5s 1 100ms forwards;
  scale: 0.8;
  opacity: 0;
}

.card.overflowBackdropCard.card-hoverable.card-withuserdata:nth-child(2){animation-delay: 200ms !important;}
.card.overflowBackdropCard.card-hoverable.card-withuserdata:nth-child(3){animation-delay: 300ms !important;}
.card.overflowBackdropCard.card-hoverable.card-withuserdata:nth-child(4){animation-delay: 400ms !important;}
.card.overflowBackdropCard.card-hoverable.card-withuserdata:nth-child(5){animation-delay: 500ms !important;}
.card.overflowBackdropCard.card-hoverable.card-withuserdata:nth-child(6){animation-delay: 600ms !important;}
.card.overflowBackdropCard.card-hoverable.card-withuserdata:nth-child(7){animation-delay: 700ms !important;}
.button-flat.button-flat-mini.sectionTitleTextButton.emby-button span{
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-flat.button-flat-mini.sectionTitleTextButton.emby-button:hover span {
  transform: translateX(5px);
}

.emby-scrollbuttons.padded-right:hover {
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
@keyframes bg-scale{
  from{
    background-size: 100%;
  }
  to{
    background-size: 110%;
  }
}
@keyframes slide-up{
  from{
    transform: translateY(20px);
  }
  25%{transform:translateY(-20px);}
  50%{transform: translateY(0px);}
  75%{transform: translateY(-5px);}
  to{
    transform: translateY(0px);
  }
}
.toast.toastVisible {
	box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
	background: transparent;
	border-radius: 35px;
  animation: slide-up 1s 1 forwards;
	backdrop-filter: blur(10px);
}
/*start server ui*/
.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.Mui-selected.css-1mycxcp {
  overflow: hidden;
}
.css-au9l87 {
  background: white;
  color: black;
  border-radius: 50px;
  outline: none;
}
.css-jqp64h {
  border-radius: 50px;
  color: white;
  transition: none;
  border: 1px solid;
}
.css-jqp64h:hover {
  background: white;
  color: black;
  border: none;
}
.css-1amat89,.css-lh4h8w,.css-1yd4q9n,.css-1m91j26,.css-11qg7pw,#btnAddUser,.cardBox.visualCardBox,.css-nqwc7a{
  border-radius: 14px;
  background: #f0f8ff12;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-mk0p0t:hover{
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  background: #f0f8ff1c;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorDefault.MuiAppBar-positionFixed.mui-fixed.css-jz1vtw {
  background: #867e7e33;
  backdrop-filter: blur(15px);
}
.css-yknuxp.Mui-selected {
  background-color: rgba(0, 0, 0, 0.29);
}
.css-yknuxp.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.38);
}
.css-yknuxp {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  width: 99%;
  margin: 2px 5px;
}
.css-yknuxp:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
  transition: none;
}
.css-1787okl {
  background: #f0f8ff0d;
  border-radius: 15px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
#btnAddUser{border-radius: 50px !important;}
.css-t0qa2a,.css-1v7qedu{
  background: #f0f8ff12;
  border-radius: 10px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  color: aliceblue;
}
.css-t0qa2a:hover,.css-1v7qedu:hover{
  background: #ffffff30;

}
.css-1x1rezd{
  border-radius: 50px;
}
.css-1x1rezd:hover {
  border-radius: 50px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-1w52bhu {
  border-radius: 10px;
  background: #ff66663d;
}
.css-1w52bhu {
  border-radius: 10px;
  background: #ff66663d;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-16up0we {
  border-radius: 50px;
}
.css-l1co2t,.css-g193a2,.css-46ocr5,.css-19qxu2,.css-1y99tin{
  background: #ffffff1a;
  border-radius: 15px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  overflow: hidden;
}
.css-l1co2t::before,.css-g193a2::before,.css-46ocr5::before,.css-19qxu2::before,.css-1y99tin::before{
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}
.css-l1co2t:hover:not(.Mui-disabled, .Mui-error)::before,.css-g193a2:hover:not(.Mui-disabled,.Mui-error)::before,.css-46ocr5:hover:not(.Mui-disabled,.Mui-error)::before,.css-19qxu2:hover:not(.Mui-disabled,.Mui-error)::before,.css-1y99tin:hover:not(.Mui-disabled,.Mui-error)::before {
  border-bottom: 1px solid #ffffff1f;
}
.css-5191sg.Mui-focused,.css-g193a2.Mui-focused,.css-46ocr5.Mui-focused,.css-19qxu2.Mui-focused,.css-1y99tin.Mui-focused{
  color: #fff;
}
.css-l1co2t::after{
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
.css-c4z1po {
  margin: 0px;
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 255, 255);
}
.css-1a194ku.Mui-checked, .css-1a194ku.MuiCheckbox-indeterminate {
  color: rgb(255, 255, 255);
}
.css-1a194ku:hover {
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-1a194ku{
  margin-right: 10px;
}
.css-ybuz3k {
  background: #ffffff2e;
  border-radius: 50px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329) !important;
  color: aliceblue;
  overflow: hidden;
}
.css-mbeig7 {
  overflow: hidden;
}
.css-mbeig7.Mui-selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.css-mbeig7.Mui-selected:hover {
  background-color: rgba(255, 255, 255, 0.16);
}
.css-18bruhv {
  border-radius: 15px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: transparent;
  backdrop-filter: blur(50px);
}
.css-1fmeo47.Mui-checked {
  color: rgb(255, 255, 255);
}
.css-1fmeo47.Mui-checked + .MuiSwitch-track, .css-7m1v5o {
  background-color: rgba(255, 255, 255, 0.13) !important;
  box-shadow: rgba(255, 255, 255, 0.65) 2px 2px 2px -3px inset, rgba(255, 255, 255, 0.61) -2px -2px 2px -3px inset, rgba(0, 0, 0, 0.33) 0px 0px 15px;
}
.css-1fmeo47.Mui-checked:hover {
  background-color: rgba(255, 255, 255, 0);
}

@media (min-width: 600px) {
  .css-1mkya9s > :not(style) ~ :not(style) {
    margin-top: calc(2 * var(--jf-spacing));
  }
}
@media (min-width: 600px) {
  .css-1mkya9s > :not(style):not(style) {
    margin: 0px;
    margin-top: 0px;

  }
}
@media (min-width: 0px) {
  .css-1mkya9s > :not(style) ~ :not(style) {
    margin-top: calc(3 * var(--jf-spacing));
  }
}
@media (min-width: 0px) {
  .css-1mkya9s > :not(style):not(style) {
    margin: 0px;
  }
}
.css-nu23t2 {
  border-radius: 50px;

  color: white;
  border-color: transparent;

  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-1vcmsp6,.css-o2nokc{
	border-radius: 50px;
	border-color: transparent;
	box-shadow: 1px 2px 2px -3px rgba(255, 94, 94, 0.65) inset, -2px -2px 2px -3px rgba(255, 63, 63, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
	background: #ff353508;
}
.css-o2nokc:hover{
	background: #ff353513;
}
@media (hover: hover) {
  .css-nu23t2:hover {
    --variant-containedBg: rgb(250, 254, 255);
    --variant-textBg: rgba(var(--jf-palette-primary-mainChannel) / var(--jf-palette-action-hoverOpacity));
    --variant-outlinedBorder: #fff;
    --variant-outlinedBg: rgba(255, 255, 255, 0.08);
  }
}
.css-1mycxcp{
overflow: hidden !important;
margin:2px 20px;
border-radius: 50px;
}
.css-1mycxcp.Mui-selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.css-1mycxcp.Mui-selected:hover {
  background-color: rgba(255, 255, 255, 0.18);
}
.css-mq8hip,.css-j5zxs1{
 background-color: rgba(255, 255, 255, 0.08);  
}
.css-9yhqgk,.css-1ypqulw,.css-16byup5{
  border-radius: 50px;
  background: #ffffff1c;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-1y7eeso {
  background: #ffffff17;
  color: aliceblue;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0);
}
.css-rvwa8l{
background: rgba(253, 253, 253, 0);
  border-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.65) 2px 2px 2px -3px inset, rgba(255, 255, 255, 0.61) -2px -2px 2px -3px inset, rgba(0, 0, 0, 0.33) 0px 0px 15px;
  border-radius: 10px;
  color: white;
}
.css-1pnkec2 {
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  background: #f0f8ff0f;
  border-radius: 50px;
}
.css-1pnkec2:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.css-1ejoxfo {
  background: #ffffff4d;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  color: aliceblue;
}
.css-1ejoxfo:hover, .css-1ejoxfo.Mui-focusVisible {
  background-color: rgba(255, 255, 255, 0.39);
}
.css-cr7oyo{
  background: #ffffff0f;
  border-color: transparent;
  border-radius: 50px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  color: aliceblue;
}
.css-b3kvr0 {
  border-radius: 50px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  background: #ffffff12;
  transition: 0.2s;
}
.css-b3kvr0:hover {
  background-color: rgba(255, 255, 255, 0.14);
}
.verticalSection-extrabottompadding{
  border-radius: 15px;
}
@media (min-width: 50em) {
  .readOnlyContent, form {
    max-width: 99%;
  }
}
.css-wprkhu .MuiDrawer-paper {
  padding-bottom: 4.2rem;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #444 #202020;
}
.css-fh2ueb,.css-1qq8wmv,.css-g99rn3,.MuiStack-root.css-11r6nok button,.css-1x1rezd{
  overflow: hidden;
}
.css-134quyw {
  border-radius: 15px;
  box-shadow: 2px 2px 2px -3px rgba(181, 144, 0, 0.65) inset, -2px -2px 2px -3px rgba(236, 173, 128, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-hkers1 {
  background: #ffffff0d;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  border-radius: 15px;
}
.css-17t2m54,.css-eqdfa1{
  border-bottom: 1px solid rgba(81, 81, 81, 0.25);
}
.css-wdb3n7 {
	backdrop-filter: blur(15px);
	border-radius: 8px;
	box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
	background: rgba(255, 255, 255, 0.096);
}
.css-1t8x5q4 {
  background: #ffffff0f;
  border-radius: 25px;
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.css-8mwzdy {
  border-top: 0.5px solid #f0f8ff14;
}
.css-8mwzdy {
  border-top: 0.5px solid #f0f8ff14;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-content: center;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.css-19rbmc7,
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedError.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorError.css-o2nokc {
	width: 50%;
	margin: 0;
	color: white;
	border-radius: 50px;
  overflow: hidden;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedError.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorError.css-o2nokc {
  box-shadow: 2px 2px 2px -3px rgba(255, 103, 103, 0.65) inset, -2px -2px 2px -3px rgba(255, 85, 85, 0.61) inset, 0px 0px 15px rgba(21, 21, 21, 0.33);
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.css-19rbmc7:hover {
  background: #f0f8ff0a;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0);
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.css-19rbmc7 {
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0) inset, 0px 0px 15px rgba(0, 0, 0, 0);
}
.css-46ocr5::after {
  border-bottom: 2px solid #ffffff2e;
}
.css-yknuxp:first-child{
  border-radius: 0px;
  margin: 0;
}
.css-7h500o {
  background: #ff8a8a1c;
  border-radius: 20px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0);
}
.css-wiriro {
  border-radius: 15px;
  border: #ffffff21 solid 0.1px;
}
.css-wiriro::before {
  width: 100%;
  height: 30px;
  background: linear-gradient(#2e1a1a 50%,transparent);
  content: '';
  position: absolute;
  border-radius: 15px;

}
/*

/*
 OPTIONS - PLUGINS/PREFERENCES
===================
1.NO LIQUID GLASS CORNERS
==============================================================================================================
*,*::backdrop,*::after,.paper-icon-button-light::before,.mdl-slider::-moz-range-thumb {
  box-shadow: none !important;
}
.paper-icon-button-light::before{
  backdrop-filter: blur(10px);
}
================================================================================================================
2.HIGH CONTRAST - DISABILITY 
==================================================================================================================
.cardOverlayContainer > .cardOverlayFab-primary {
  scale: 0;
  backdrop-filter: invert(1)!important;
  -webkit-backdrop-filter: invert(1) !important;
  transition: 0.2s;
  
  background-color: rgba(0, 0, 0, 0.29) !important;
}
  .dialog {
  background-color: #101010ab;
  backdrop-filter: invert(1) blur(10px) !important;
}
  [dir="ltr"] .navMenuOption{
  background: #f0f8ff38 !important; 
}
===================================================================================================================
3. SCALE UP EFFECT ON MOVIE CARD WHEN HOVER (bug ani-fade-in-com)
===================================================================================================================
.card.overflowBackdropCard.card-hoverable.card-withuserdata:hover .cardImageContainer.coveredImage.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast {
  transition: 0.3s;
  will-change: background-size;
  animation: bg-scale 0.2s 1 forwards !important;
  width: 100%;
  overflow: hidden !important;
}
@keyframes fade-in {
  from{
    opacity: 1;
  }
  to{
    opacity: 1;
  }
}
=========================================================================================================================
4. CHANGE COLOR PREFERENCE
=========================================================================================================================
:root{
  --card-indicate-bg:rgba(255, 169, 184, 0.534);
  --card-indicate-liquid-glass:rgba(253, 185, 255, 0.39) ;
  --card-indicate-shadow:rgba(255, 154, 238, 0.329);
  --card-indicate-icon-fill:#ffb0d9;
  --background-glow-color:#240000;
}
=========================================================================================================================
5.FLOATING HEADER
=========================================================================================================================
.skinHeader {
  width: 99%;
  left: 50%;
  transform: translateX(-50%);
  margin: 7px 0px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  background: #f0f8ff05;
  border-radius: 50px;
}
===========================================================================================================================
*/
