.skinHeader-withBackground {
  background-color: #00000054;
  backdrop-filter: blur(50px);
}
.emby-tabs-slider {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes a{
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
.dialog{
background-color: #101010ab;
backdrop-filter: blur(15px);
  }

.cardOverlayContainer > .cardOverlayFab-primary{
            scale: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
            transition: 0.2s;
            background-color: rgba(0, 0, 0, 0.29) !important;
}
@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.04);
    color: #fff;
  }
}.drawer-open, .mainDrawer {
  background-color: #10101057;
  backdrop-filter: blur(50px);
}
.navMenuOption:hover{
  background: #00000057;
  transition: none;
}
.backgroundContainer{
background:linear-gradient(0deg,#111 50%,#240000);
}
.touch-menu-la.transition{
transition: transform .24s cubic-bezier(0.075, 0.82, 0.165, 1) ease-out,left .26s cubic-bezier(0.075, 0.82, 0.165, 1) ease-out,-webkit-transform .24s cubic-bezier(0.075, 0.82, 0.165, 1) ease-out;
}
.emby-tab-button{
  font-weight: 453 !important;
}
.emby-button-foreground{
  position: relative;
  color: white !important;
}
.cardOverlayContainer > .cardOverlayFab-primary{
      box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
[is="emby-button"]:hover .emby-button-foreground::before{
width: 100%;
}
.mdl-spinner__layer{
  border-color: #ffff !important;
}
.selectionCommandsPanel {
  background: #00000030;
  color: #fff;
  font-size: 12px;
  backdrop-filter: blur(50px);
}
.itemSelectionPanel {
  border: 1px solid #353535;
  border-radius: 15px;

}
.checkboxOutline {
  border-color: #ffffff47;
  border-radius: 50px !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  background-color: #ffffff36;
  color: black;
  backdrop-filter: blur(15px);
}
.emby-checkbox:checked + span + .checkboxOutline {
  border-color: #6a6a6a38 !important;
}
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
  border-color: #ffffff3b;
}
.checkboxContainer{
  margin: 5px;
}
.checkboxIcon {
  color: #fff;
  animation: check 0.2s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 1.2em;
  will-change: transform;
}
@keyframes check {
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}
.emby-checkbox:checked + span + .checkboxOutline {
  border-color: #6a6a6a;
}
.cardBox:not(.visualCardBox) .cardPadder {
  background-color: #242424;
  border-radius: 15px !important;
}
.cardContent{
  border-radius: 15px;
}
.emby-button-foreground::before{
  position: absolute;
  content: '';
  left: 50%;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 0%;
  transform: translate(-50%,2px);
  height: 2px;
  border-radius: 50px;
  bottom: 0;
  background-color: aliceblue;
}
.tmla-mask{
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}
.cardOverlayContainer > .cardOverlayFab-primary:hover{
            background-color: rgba(0, 0, 0, 0.459) !important;
}
.cardOverlayContainer > .cardOverlayFab-primary:active{
            background-color: rgba(0, 0, 0, 0.459) !important;
}
.cardOverlayContainer:hover  .cardOverlayFab-primary{ 
          scale: 1;
}
[dir="ltr"] .cardOverlayButton-br {
  right: 0;
  gap: 5px;
  bottom: 5px;
}
.cardOverlayContainer > .cardOverlayFab-primary:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: .2s;
}
.cardOverlayContainer > .cardOverlayFab-primary {
  will-change: transform;
}
.cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
  box-shadow: 0 .0725em .29em 0 rgba(0, 0, 0, 0.37);
}
.cardOverlayButton-br{
  padding: 5px !important;
}

.card-hoverable:hover .cardOverlayButton-hover {
  opacity: 1;
}
@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
  }
}
.cardOverlayContainer {
  background: rgba(0, 0, 0, 0);
}
html,body{
    transition: 0.1s;
    scroll-behavior: smooth;
}
.libraryPage {
  padding-top: 7em !important;
}
.detailRibbon {
  background: linear-gradient(0deg,#101010,transparent);
}
.skinHeader.semiTransparent {
  -webkit-backdrop-filter:blur(15px)  !important;
  backdrop-filter: blur(15px) !important;
  background-color: rgba(0,0,0,.4);
}
.lazy-image-fadein-fast{
  margin: 40px 0px;
}
.button-flat:hover, .button-link {
  color: #fff;
}
.inputLabelFocused, .selectLabelFocused, .textareaLabelFocused {
  color: #fff;
}
.emby-select-withcolor:focus {
  border-color: #3c3c3c !important;
}
.trackSelections .selectContainer .detailTrackSelect {
  font-size: inherit;
  overflow: hidden;
  padding: 2px 5px;
  border-radius: 50px;
}
.paper-icon-button-light::before{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  content: '';
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) scale(0.7);
  background-color:#ffffff15 !important;
}
.paper-icon-button-light:active:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.2);
	color: #edfaff;
}
.paper-icon-button-light{
  position: relative;
}
.itemProgressBarForeground{
  background-color: #fff;
}
.emby-button.block {
  display: block;
  margin: .25em 0;
  width: 100%;
  border-radius: 50px;
  padding: 5px 10px;
  width: fit-content !important;
}

.paper-icon-button-light:hover::before{
  transform: translateX(-50%) scale(1);
  opacity: 1;
  
}
.cardOverlayContainer {
  background: #0000001c;
  border-radius: 15px;
}
.formDialogFooterItem{
  -webkit-flex-basis:fit-content;
}
.emby-button.block {
	display: block;
	margin: .25em 0;
	border-radius: 50px;
	padding: 5px 15px;
	width: fit-content !important;
	font-family: SF PRo;
	font-kerning: normal;
	font-weight: 400;
}
.button-submit {
  background: #fff;
  color: #000;
  font-weight: bolder !important;
}
.emby-input, .emby-textarea {
  background: #292929;
  border: .16em solid #292929;
  border-radius: 10px;
  color: inherit;
  color-scheme: dark;
  padding: 7px 10px;
}
.emby-input:focus, .emby-textarea:focus {
  border-color: #4d4d4d;
}
.emby-button.block:hover{
filter: brightness(1.2);
}
.emby-button.block:active{
filter: brightness(0.9);
}
.button-submit:focus {
  background: #c6c6c6;
  color: #000;
}
.css-yknuxp{
  position: relative;
  overflow: hidden;
}
.css-4mb1j7{
  filter: blur(20px);
}
.navMenuOption-selected{
  background: #202020 !important;
}
.countIndicator,.paper-icon-button-light::before{
  box-shadow:3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.countIndicator, .fullSyncIndicator, .mediaSourceIndicator, .playedIndicator{
  background: #ffffff21;
  backdrop-filter: blur(10px);
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.card{
  contain: none !important;
}
[dir="ltr"] .cardOverlayButton-br{
  font-size: 11px;
}
.navMenuOption{
  transition: none;
  overflow: hidden;
  position: relative;
}
.navMenuOption:active::before{
  width: 100%;
}
.navMenuOption::before{
  content: '';
  transition: 0.3s  cubic-bezier(0.77, 0, 0.175, 1);;
  position: absolute;
  left: 0;
  filter: blur(20px);
  height: 100%;
  bottom: 0;
  width: 0%;
  background-color: #ffffff3d;
}
.headerTop{
  padding: 0 !important;
}
.skinHeader{
  padding: 5px 0px !important;
}
.mdl-slider::-moz-range-thumb{
  background-color: #fff;
}

.sliderBubbleText{
  padding: 0px !important;
}
.sliderBubble {
	-webkit-align-items: center;
	align-items: center;
	background: #ffffff0d;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
  border-radius: 50px;
	justify-content: center;
	left: 0;
  padding: 1px 10px;
	position: absolute;
	top: 0;
	-webkit-transform: translate3d(-50%,-120%,0);
	transform: translate3d(-50%,-120%,0);
	z-index: 1;
  box-shadow:2px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
	backdrop-filter: blur(15px);
}
.mdl-slider-background-flex{
  background-color: #ffffff3b;
}
.mdl-slider-background-lower{
  background-color: #fff;
}
.dialog{
  border-radius: 15px !important;
}
.actionSheetContent{
  border-radius: 15px !important;
}
.searchSuggestionsList.padded-left.padded-right {
	width: fit-content;
	background: #2b2b2b;
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	padding: 10px 0px;
	border-radius: 15px;
	box-shadow: 0px 5px 10px #000;
	overflow-y: scroll;
	height: 250px;
	scrollbar-width: none;
}
.searchSuggestionsList.padded-left.padded-right div:hover {
  background: #ffffff17;
}
.searchSuggestionsList.padded-left.padded-right div{
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.searchSuggestionsList.padded-left.padded-right div a{
text-decoration: none;
}
.focuscontainer.dialog.actionsheet-not-fullscreen.actionSheet.syncPlayGroupMenu.centeredDialog.opened{
  padding: 10px 20px;
}
[dir="ltr"] .navMenuOption {
  padding: .9em 0 .9em 2.4em !important;
  border-radius: 50px !important;
  margin: 3px 10px !important;
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
[dir="ltr"] .listItem {
  padding: 0px 20px;
  transition: 0.3s;
  border-radius: 50px !important;
  will-change: tranform;
  text-align: left;
  box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
[dir="ltr"] .listItem:hover{
  transform: scale(1.02);
}
.listItem-border {
	border-radius: 50px;
  border: none !important;
	padding: 0px 20px;
	margin: 2px 0px !important;
}
.sectionTitle.headerUsername {
  font-size: 40px;
  font-weight: Bolder !important;
}
.listItem:hover {
  background: #ffffff0d;
}
html{
  font-family: SF Pro,Noto Sans,Noto Sans HK,Noto Sans JP,Noto Sans KR,Noto Sans SC,Noto Sans TC,sans-serif;
}
.emby-scrollbuttons.padded-right {
	background: #ffffff0a;
	padding: 3px 0px !important;
	border-radius: 50px;
	margin-right: 10px;
	box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.actionSheetContent .listItem{
  transition: none !important;
  box-shadow: none !important;
  border-radius: none !important;
}
.actionSheetContent .listItem:hover{
  transform: none !important;
}
[dir="ltr"] .emby-select {
  padding: 7px 10px !important;
  border-radius: 10px !important; 
}

.playstatebutton-icon-played,.ratingbutton-icon-withrating{
  color: #ffb0d9;
}
[dir="ltr"] .cardOverlayButton-br button span{
transition: 0.2s;
}
[dir="ltr"] .cardOverlayButton-br button:active span{
  scale: 0.8;
}

.mediaInfoItem.mediaInfoText.mediaInfoOfficialRating {
  box-shadow: inset 1px 2px 2px -2px,inset -2px -2px 2px -3px;
  border-radius: 7px;
}
.itemProgressBar {
  background: #333;
  background: rgba(51, 51, 51, 0.11);
  height: .28em;
  position: relative;
  backdrop-filter: blur(15px);
}
.itemProgressBarForeground {
  background: #fff;
}
[dir="ltr"] .itemProgressBarForeground {
  left: 0;
  border-radius: 50px;
}
.mdl-slider::-moz-range-thumb {
  background-color: #fff;
  backdrop-filter: blur(50px);
  box-shadow: 3px 2px 2px -3px rgba(102, 102, 102, 0.39) inset, -2px -2px 2px -2px rgba(108, 108, 108, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.formDialogFooterItem{
  border-radius: 50px;
  box-shadow: 3px 3px 2px -3px rgba(102, 102, 102, 0.39) inset, -2px -3px 2px -2px rgba(108, 108, 108, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
}
.formDialogFooterItem:hover{
  filter: brightness(1.1);
}
[tromoSM='css-ap-btn']{
  display: block;
  border-radius: 50px;
  padding: 5px 15px;
  width: fit-content !important;
  font-family: SF PRo;
  font-kerning: normal;
  right: 0;
  bottom: 0;
  font-weight: 400;
  border: none;
  outline: none;
  background: #ffffff17;
  color: aliceblue;
  cursor: pointer;
  backdrop-filter: blur(10px);
  margin: 10px;
	box-shadow: 3px 2px 2px -3px rgba(255, 255, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 255, 255, 0.39) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  position: fixed;
  z-index: +990;
}  

*{
  color-scheme: dark !important; 
}

.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.ratingbutton-withrating,.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.playstatebutton-played{
  background: #ffa5f521;
  box-shadow: 3px 2px 2px -3px rgba(253, 185, 255, 0.39) inset, -2px -2px 2px -2px rgba(255, 158, 244, 0.39) inset, 0px 0px 10px rgba(255, 154, 238, 0.329);
  backdrop-filter: blur(10px);
}
@media (max-width:513px){
.emby-tabs-slider {
  position: relative;
  font-size: 13px !important;
}
.emby-tab-button{
  padding: 5px 7px;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.headroom.noHomeButtonHeader.headroom--not-top.headroom--not-bottom.headroom--pinned{
  animation: yoyo 0.5s 1 ;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.headroom.noHomeButtonHeader.headroom--not-bottom.headroom--not-top.headroom--unpinned{
  animation: yoyoyo 0.5s 1 forwards cubic-bezier(.46,.03,.52,.96);
}
@keyframes yoyo {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

@keyframes yoyoyo {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-100px);
  }}
}
.cardOverlayButton-br.flex button span{
  text-shadow: 0px 0px 10px black;
}
.cardOverlayButton.cardOverlayButton-br.itemAction.paper-icon-button-light{
	backdrop-filter: blur(10px);
	background: #e6e6e647;
	margin: 5px;
}
.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.ratingbutton-withrating::before,.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.playstatebutton-played::before{
  animation: yogurt 0.5s 1 forwards;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(255, 169, 184, 0.534);
}
@keyframes yogurt{
  from{
    scale: 0.4;
  }
  to{
    scale: 1;
  }
}
/*
NO LIQUID GLASS CORNERS
*,*::backdrop,*::after,.paper-icon-button-light::before,.mdl-slider::-moz-range-thumb {
  box-shadow: none !important;
}
.paper-icon-button-light::before{
  backdrop-filter: blur(10px);
}
*/
/*
HIGH CONTRAST - DISABILITY 
.cardOverlayContainer > .cardOverlayFab-primary {
  scale: 0;
  backdrop-filter: invert(1)!important;
  -webkit-backdrop-filter: invert(1) !important;
  transition: 0.2s;
  
  background-color: rgba(0, 0, 0, 0.29) !important;
}
  .dialog {
  background-color: #101010ab;
  backdrop-filter: invert(1) blur(10px) !important;
}
  [dir="ltr"] .navMenuOption{
  background: #f0f8ff38 !important; 
}
*/
