/* Credits
- @Anderzenn — reported the issue and provided code used for the fix (Issue #2)*/
@media (max-width: 1600px) {
  .withSectionTabs .headerTop {
      padding-bottom: .55em !important;
    }
  
  .sectionTabs {
      font-size: 83.5% !important;
      margin-top: 0 !important;
  }
}
