.cardOverlayContainer > .cardOverlayFab-primary {
  scale: 0;
  backdrop-filter: invert(1)!important;
  -webkit-backdrop-filter: invert(1) !important;
  transition: 0.2s;
  
  background-color: rgba(0, 0, 0, 0.29) !important;
}
.cardOverlayButtonIcon-hover {
  background: rgba(0,0,0,.7) !important;
}
  .dialog,.MuiPopover-paper{
  background-color: #101010ab;
  backdrop-filter: invert(1) blur(var(--smallui-frosted)) !important;
}
  [dir="ltr"] .navMenuOption,.MuiMenuItem-root{
  background: #f0f8ff38 !important; 
}
